# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/DerivedData/

# Android
android/.gradle/
android/app/build/
android/local.properties

# IDE
.vscode/
.idea/

# OS
.DS_Store
